</br></br></br></br></br>
<footer>
  <div class="container_12">
    <div class="grid_12">
      <div><h4>Rokas Ščepanovas © 2018</h4></div>
    </div>
  </div>
</footer>
</body>
<!-- Angular libraries -->
<script src="../static/node_modules/angular/angular.js"></script>
<script src="../static/node_modules/angular-resource/angular-resource.min.js"></script>
<script src="../static/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
<script src="../static/node_modules/angular-animate/angular-animate.min.js"></script>
<script src="../static/node_modules/angularjs-toaster/toaster.js"></script>
<script src="../static/node_modules/angular-route/angular-route.js"></script>
<script src="../static/node_modules/angular-cookies/angular-cookies.js"></script>
<script src="../static/node_modules/angular-ui-router/angular-ui-router.js"></script>
<!-- App -->
<script src="../static/js/mainApp.js"></script>
<script src="../static/js/image.js"></script>
<script src="../static/js/displayImageInCreateForm.js"></script>
<script src="../static/js/search.js"></script>
<script src="../static/js/top15.js"></script>
<script src="../static/js/register.js"></script>
<script src="../static/js/profile.js"></script>
<script src="../static/js/createProduct.js"></script>
<script src="../static/js/viewProduct.js"></script>
<script src="../static/js/skinTest.js"></script>
</html>
